* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;
    color: white;
}

.card {
    width: 28rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.08);
}

input {
    width: 100%;
    margin: 0.7rem 0;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: none;
}

button {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: #22c55e;
    color: white;
    cursor: pointer;
}

#result {
    margin-top: 0.5rem;
    font-weight: bold;
}

/* ----------------------------------------- */
/* GAUGE */
/* ----------------------------------------- */
.gauge {
    margin-top: 1rem;
    position: relative;
}

.bar {
    display: flex;
    height: 0.75rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

/* Répartition égale des segments de la jauge */
.zone {
    flex: 1;
}

.blue {
    background: #3b82f6;
}

.green {
    background: #22c55e;
}

.yellow {
    background: #eab308;
}

.orange {
    background: #f59e0b;
}

.red {
    background: #ef4444;
}

.darkred {
    background: #b91c1c;
}

#indicator {
    position: absolute;
    top: -0.3rem;
    left: 0;
    width: 0.25rem;
    height: 1.5rem;
    background: white;
    transition: left 0.4s ease;
}

/* ----------------------------------------- */
/* RESULT SECTION  */
/* ----------------------------------------- */
.info-box {
    margin-top: 1rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.05);
}

#imcText {
    font-weight: bold;
}

#categoryText {
    margin-top: 0.3rem;
}

/* ----------------------------------------- */
/* TABLE OMS  */
/* ----------------------------------------- */
.table-oms {
    margin-top: 1rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.05);
}

.table-oms h2 {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    opacity: 0.9;
}

/* TABLE STRUCTURE */
.table-oms table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.85rem;
}

.table-oms td {
    padding: 0.25rem 0;
}

.table-oms td:first-child {
    font-weight: 600;
}

.blue-text {
    color: #3b82f6;
}

.green-text {
    color: #22c55e;
}

.yellow-text {
    color: #eab308;
}

.orange-text {
    color: #f59e0b;
}

.red-text {
    color: #ef4444;
}

.darkred-text {
    color: #b91c1c;
}