* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;
    color: white;
}

.card {
    width: 28rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.08);
}

input {
    width: 100%;
    margin: 0.7rem 0;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: none;
}

button {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: #22c55e;
    color: white;
    cursor: pointer;
}

#result {
    margin-top: 0.5rem;
    font-weight: bold;
}

.subtitle {
    opacity: 0.7;
    margin-bottom: 1rem;
}

/* ----------------------------------------- */
/* GAUGE */
/* ----------------------------------------- */
.gauge {
    margin-top: 1rem;
    position: relative;
}

.bar {
    display: flex;
    height: 0.75rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

/* Répartition égale des segments du gauge */
.zone {
    flex: 1;
}

.blue {
    background: #3b82f6;
}

.green {
    background: #22c55e;
}

.yellow {
    background: #eab308;
}

.orange {
    background: #f59e0b;
}

.red {
    background: #ef4444;
}

#indicator {
    position: absolute;
    top: -0.3rem;
    left: 0;
    width: 0.25rem;
    height: 1.5rem;
    background: white;
    transition: left 0.4s ease;
}